<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
<div id="app"></div>
<script src="/js/bundle.js"></script>
</body>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
  window.onSpotifyWebPlaybackSDKReady = () => {
    window.Spotify = Spotify;
  }
</script>
</html>